    * {
        margin: 0;
        padding: 0;
        box-shadow: border-box;
    }

    body {
        background-color: hsl(215, 54%, 7%);
        width: 100vw;
        height: 100vh;
        font-size: 18px;
        position: fixed;
        font-family: 'Outfit', sans-serif;
    }

    .card {
        background-color: hsl(217, 54%, 11%);
        width: 300px;
        height: 590px;
        display: absolute;
        margin: 50px auto;
        border-radius: 15px;
        padding: 10px 10px 0px 10px;
    }

    #nft {
        width: 280px;
        height: 265px;
        display: flex;
        margin: 10px auto;
        border-radius: 10px;
    }

    .eq-h {
        font-size: 19px;
        padding-bottom: 15px;
        padding-top: 20px;
        display: flex;
        text-align: center;
        color: white;
        margin-left: 20px;
    }

    .eq-p {
        color: #8BACD9;
        font-size: 18px;
        font-weight: 300;
        margin-left: 20px;
        line-height: 2;
        padding-right: 40px;
        padding-bottom: 25px;
    }

    .lower {
        display: flex;
        height: 20px;
        width: 300px;
        padding-left: 15px;
        /* border: 1px solid greenyellow; */
        /* margin: auto 0; */
        /* align-self: center; */
        /* justify-content: center; */

    }

    .type {
        align-items: center;
        align-content: center;
        padding-left: 10px;
    }

    #crypto {
        width: 12px;
        height: 15px;
    }

    #amount {
        height: 20px;
        width: 150px;
        color: #00FFF8;
        font-size: 16px;
        display: inline;
    }

    #days {
        height: 20px;
        width: 250px;
        color: #8BACD9;
        font-size: 16px;
        display: inline;
        /* border: 1px solid greenyellow; */


    }

    #clock {
        width: 20px;
        height: 20px;
    }

    .type {
        display: flex;
    }

    .time {
        float: left;
        align-content: center;
        align-items: center;
    }

    .line {
        width: 255px;
        border-bottom: 1px solid #fff;
        margin: 30px auto 5px;
    }

    .creator {
        padding: 15px 5px 0 20px;
        float: left;
    }

    .creator img {
        width: 35px;
        border: 2px solid white;
        border-radius: 100%;
        //*NOTE THIS IS WHAT I ORIGINALLY USED TO FORMAT THE IMAGE POSITION: margin-top: 10px;
        margin-left: 10px;
        */
    }

    #who {
        display: inline;
        color: #8BACD9;
        font-size: 18px;
        font-weight: lighter;
    }

    #name {
        display: inline;
        color: white;
        font-size: 18px;
        font-weight: lighter;
    }

    .about {
        margin-left: 75px;
        margin-top: 25px;
    }
